<h1>Seja Bem-Vindo!</h1>
<p>Criando um helper de tempo</p>
<p><strong>Data: </strong> <%= convtime Date.today %> </p>
<p>Testando o "helper link_to"</p>
<ul>
  <%= link_to "Cadastro de Moedas", coins_path%>
</ul>
