<h1>Seja Bem-Vindo!</h1>
<p>Criando um helper de tempo</p>
<p><strong>Data: </strong> <%= convtime Date.today %> </p>
<p>Testando o "helper link_to"</p>

<%= render "menu" %> <!-- Pelo o que eu entendo "render" é um helper padrão do rails-->


<p>
  Monstrando em qual ambiente estamos com ajuda de um helper:
  <p>
    <strong> <%= ambiente_desenvolvimento %> </strong>
  </p>
</p>

<p>
  Aqui <strong><%= @meu_nome %></strong>

  Entendendo como funciona a variavel de instância/sessão
</p>
