<h1>Seja Bem-Vindo!</h1>
<p>Tomaz</p>

<p>Testando o ERB com alguns códigos Ruby</p>
Seu nome de trás pra frente <%= "Tomaz".reverse %> <== Aqui usando o motodo reverse e uma string.

<p>Usando código Ruby para fazer algumas operações matemáticas</p>
<p> Divisão: <%= 10/ 4%></p> <== 10 dividido por 4
<p> Resto da divisão: <%= 11%4 %></p> <== O resto da divisão de 11 por 4
 
